<div class="linkslist">
  <p class="asidetitle"><%= __('links') %></p>
    <ul>
      <li><a href="http://oopsoutofmemory.github.io/" target="_blank" title="盛利的博客 &middot; blog">盛利的博客 &middot; blog</a></li>
      <li><a href="http://liuwei.so/" target="_blank" title="刘伟（Derick）的博客">刘伟（Derick）的博客</a></li>
      <!-- <li><a href="http://judastree.github.io/" target="_blank" title="http://judastree.github.io/">judastree</a></li>
      <li><a href="http://www.songrd.com/" target="_blank" title="www.songrd.com">www.songrd.com</a></li>   -->
    </ul>
</div>