<div class="linkslist">
  <p class="asidetitle"><%= __('links') %></p>
    <ul>
      <li><a href="http://oopsoutofmemory.github.io/" target="_blank" title="盛利的博客 &middot; blog">盛利的博客 &middot; blog</a></li>
      <li><a href="http://liuwei.so/" target="_blank" title="刘伟（Derick）的博客">刘伟（Derick）的博客</a></li>
    </ul>
</div>